/*--------------------------------------------------------------
# General css
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/*--------------------------------------------------------------
# Header css
--------------------------------------------------------------*/
header{
    background-image: url(images/1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header-text{
    width: 1080px;
    margin: 0 auto;
}
.header-text h1{
    font-weight: bold;
    font-size: 55px;
    width: 526px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.header-text p {
   width: 480px;
    font-size: 19px !important;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.header-text a {
    background-color: #EF233C;
    padding: 15px 22px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.donate-button {
    margin-top: 40px;
}


/*--------------------------------------------------------------
# Their lives depend css
--------------------------------------------------------------*/
#lives-depend {
    padding: 80px 0px;
}
#lives-depend .lives-depend-items {
    display: flex;
    width: 1080px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.right-lives-img img {
    width: 456px;
    height: 477px;
    border-radius: 5px;
}
#lives-depend .lives-depend-items .left-lives-text h1{
    color: #121212;
    font-size: 45px;
    width: 490px;
    font-weight: bold;
    margin-bottom: 20px;
}
#lives-depend .lives-depend-items .left-lives-text p {
    color: #707070;
    font-size: 18px;
    margin-right: 140px;
    margin-bottom: 20px;
}
#lives-depend .lives-depend-items .left-lives-text a {
    text-decoration: none;
    color: white;
}
.contribute-button {
    padding-top: 20px;
}
.Contribute-btn{
    background-color: #EF233C;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 23px;
    border-radius: 5px;
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Their lives depend css
--------------------------------------------------------------*/
#suvive-depend {
    padding: 40px 0px;
}
#suvive-depend .suvive-depend-items {
    display: flex;
    width: 1080px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.right-suvive-img img {
    width: 456px;
    height: 477px;
    border-radius: 5px;
}
#suvive-depend .suvive-depend-items .left-suvive-text h1{
    color: #121212;
    font-size: 45px;
    width: 330px;
    font-weight: bold;
    margin-bottom: 20px;
}
#suvive-depend .suvive-depend-items .left-suvive-text p {
    color: #707070;
    font-size: 18px;
    margin-right: 60px;
    margin-bottom: 20px;
}
#suvive-depend .suvive-depend-items .left-suvive-text a {
    text-decoration: none;
    color: white;
}
.left-suvive-text {
    margin-left: 100px;
}